<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_CLIENT_KEY</key>
	<string>5Nls7PI3GhD4ydQ4xQBNIKBYCUm0nIkSD9VLfobe</string>
	<key>PARSE_APPLICATION_ID</key>
	<string>oHASTmer2PWxM3pDI2ZnzV6W5zyiw3IUWTbsrbLR</string>
</dict>
</plist>
